.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(224, 16, 103);
  margin-top: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  border-width: 5px;
  width: 5vw;
  min-height: 5vw;
  border-color: white;
  border-style: solid;
  background-color: lightpink;
  position: relative;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark {
  size: 100px
}
.row {
  display: flex;
}

.contentPos {
  /* background-color: grey; */
  /* min-height: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: black;
}

#homepageContainer {
  /* background-color: lightsalmon; */
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.pageHeader {
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* background-color: green; */
}

.catGalleryContainer {
  display: flex;
  width: 75%;
  flex-direction: row;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.featuredCatContainer {
  display: flex;
  width: 90%;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  flex-wrap: wrap;
}

.catPic {
  width: 210px;
  height: 250px;
  margin: 5px;
}

.catPicFeatured {
  width: 210px;
  height: 250px;
  margin: 20px;
}


.pageSubHeader {
  color: darkslategray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 70%;
}

.joke {
  color: darkslategray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 70%;
  padding: 20px;
}

.jokeContainer {
  width: 600px;
  height: 200px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.ratingsContainer {
  /* width: 500px; */
  padding: 10px;
  margin: 10px;
  position: center;
  display: flex;
  flex-direction: row;
  background-color: honeydew;

}

.ratingButtons {
   justify-content: center;
} 

.navLinks {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-start;
  /* size: 10px; */
  font-size: 25px;
  color: wheat;
}

.buttonStyle {
  margin: 5px;
}

.cardLinks {
  /* background-color: pink; */
  margin: 25px;
}


.card-header {
  color: white;
  
}

.cardContainer {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

.ticTacToeContainer {
  margin-bottom: 20px;
}

.customButtons {
  margin: 10px;
}

