.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: pink;
  margin-top: 10px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  border-width: 5px;
  width: 50px;
  height: 50px;
  border-color: white;
  border-style: solid;
  background-color: lightpink;
}

.row {
  display: flex;
}

.contentPos {
  /* background-color: grey; */
  /* min-height: 50px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#homepageContainer {
  background-color: lightsalmon;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: red;
}
.pageHeader {
  color: black;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navLinks {
  display: flex;
  flex-direction: row;
  margin: 5px;
  justify-content: flex-start;
  size: 20px;
}

.buttonStyle {
  margin: 5px;
}